<div class="sidebar" [ngClass]="{'active': sidebarActive}">
    <div class="logo-content">
        <div class="logo">
            <i class='bx bx-notepad' ></i>
            <div class="logo-name">Notes</div>
        </div>
        <i class='bx bx-menu' id="toggle" (click)="toggleSidebar()"></i>
    </div>  
    <ul class="nav-list">
        <li>
            <a [routerLink]="['notes']" [routerLinkActive]="['active']">
                <i class='bx bx-note'></i>
                <span class="links-name">Notes</span>
            </a>
            <span class="tooltip">Notes</span>
        </li>
        <li>
            <a [routerLink]="['saves']" [routerLinkActive]="['active']">
                <i class='bx bx-heart' ></i>
                <span class="links-name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
        </li>

        <br>

        <li>
            <a [routerLink]="['trash']" [routerLinkActive]="['active']">
                <i class='bx bx-trash-alt' ></i>
                <span class="links-name">Trash</span>
            </a>
            <span class="tooltip">Trash</span>
        </li>
    </ul> 
    
    <!-- <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <img src="" alt="">
                <div class="name-job">
                    <div class="name">Usuario</div>
                    <div class="job">Puesto</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log-out"></i>
        </div>
    </div> -->

</div>

<div class="home-content">
    <div class="text">
        <router-outlet></router-outlet>
    </div>
</div>